.container {
	background-color: rgb(219, 219, 219);
	min-height: 700px;
}

.banner {
	height: 100px;
	background: url("/static/image/movies-banner.jpg");
	background-position: right;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#prod-name {
	font-size: 20px;
}