{% extends "main.html" %}
{% block title %}Edit Movie{% endblock %}
{% block body %}
	<h1>Edit {{ movie.name }} From "{{ producer.name }}"</h1>
	<div>
		<form action="{{ url_for('editMovie', producer_id = producer.id, movie_id = movie.id) }}" method="POST">
			Poster URL: <br><input type="text" name="poster" size="100" placeholder="{{ movie.poster }}"><br>
			Name:	<br><input type="text" name="name" placeholder="{{ movie.name }}"><br>
			Short Plot:	<br><textarea name="plot" rows="5" cols="60" maxlength="300">{{ movie.plot }}</textarea><br>
			Release date:	<br><input type="date" name="released" value="{{ movie.released }}"><br>
			runtime:	<br><input type="text" size="4" name="runtime" placeholder="{{ movie.runtime }}" maxlength="4">
			<button disabled>min</button><br>
			<input type="submit" value="Edit">
		</form>
		<a href="{{ url_for('showMovies', producer_id = producer.id) }}">Cancel</a>
	</div>
{% endblock %}