<div id="header">
	<div>
		<a href="{{ url_for('showProducers') }}">Show All Producers</a>
		{%if 'username' not in session %}
			<a href="{{url_for('showLogin')}}">Log in</a>
		{% else %}
			<a href="{{url_for('disconnect',state = STATE)}}">Sign out</a>
		{% endif %}
	</div>
	<div>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
					{% for message in messages %}
						<li><strong> {{ message }} </strong></li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
	</div>
</div>