{% extends "main.html" %}
{% block title %}Log In{% endblock %}
{% block head %}
	<script
		src="https://code.jquery.com/jquery-3.4.0.min.js"
		integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
		crossorigin="anonymous"></script>
	<meta name="google-signin-scope" content="profile email">
	<meta name="google-signin-client_id" content="999879487660-3fe486qt6l9e82tp8eh94u9lsc4gm4vj.apps.googleusercontent.com">
	<script src="https://apis.google.com/js/platform.js" async defer></script>
{% endblock %}
{% block body %}
<!--  GOOGLE PLUS SIGN IN BUTTON -->
	<div id="signinButton" 
		class="g-signin2" 
		data-onsuccess="onSignIn" 
		data-longtitle="true">
	</div>
	<div id="result"></div>
	<script>
		function onSignIn(googleUser) {
			$('#signinButton').attr('style', 'display: none');
			// Useful data for your client-side scripts:
			var profile = googleUser.getBasicProfile();
			console.log("ID: " + profile.getId()); // Don't send this directly to your server!
			console.log('Full Name: ' + profile.getName());
			console.log('Given Name: ' + profile.getGivenName());
			console.log('Family Name: ' + profile.getFamilyName());
			console.log("Image URL: " + profile.getImageUrl());
			console.log("Email: " + profile.getEmail());

			// The ID token you need to pass to your backend:
			var id_token = googleUser.getAuthResponse().id_token;
			console.log("ID Token: " + id_token);

			// Prevent the button from autosigning-in on the next time it is loaded
			var auth2 = gapi.auth2.getAuthInstance();
     		auth2.disconnect();

			$.ajax({
				type: 'POST',
				url: '/gconnect?state={{STATE}}',
				processData: false,
				data: id_token, // Pass the ID token to our backend
				contentType: 'application/octet-stream; charset=utf-8',
				success: function(result) {
					// Handle or verify the server response if necessary.
					console.log("SUCCESS")
					if (result) {
						$('#result').html('Logging in...')
						//setTimeout(function() {
							window.location.href = "/producer";
						//}, 4000);
					} else {
						console.log("error");
						$('#result').html('Failed to make a server-side call. Check your configuration and console.');
					}
				}
			});
		}
	</script>
<!--END GOOGLE PLUS SIGN IN BUTTON -->
{% endblock %}