{% extends "main.html" %}
{% block title %}Movies{% endblock %}
{% block body %}
	<h1>{{ producer.name }}'s movies ({{ count }} Movies)</h1>
	<div>
		<a href="{{ url_for('newMovie', producer_id = producer.id) }}">Create a new movie</a>
		<div>
			{%if movies%}
				{% for movie in movies %}
					<p>
						<img src="{{ movie.poster }}" alt="Movie Poster Unavailable" width="300px" height="445px" id="poster{{ movie.id }}" onerror="standby({{ movie.id }})">
						<br>
						{{ movie.name }}
						<br>
						{{ movie.plot }}
						<br>
						{{ movie.released }}
						<br>
						{{ movie.runtime }} min
						<br>
						<a href="{{ url_for('editMovie', producer_id = producer.id, movie_id = movie.id) }}">Edit Movie</a>
						<br>
						<a href="{{ url_for('deleteMovie', producer_id = producer.id, movie_id = movie.id) }}">Delete Movie</a>
					</p>
				{% endfor %}
			{%else%}
				<h2>No movies available.</h2>
			{%endif%}
		</div>	
	</div>
	<script>
		function standby(id) {
	    	document.getElementById('poster'+id).src = 'http://media1.myfolio.com/users/getrnd/images/mkay4a6gy1.jpg'
		}
	</script>
{% endblock %}