{% extends "main.html" %}
{% block title %}Movies{% endblock %}
{% block body %}
	<h1>Producer Name Here's movies</h1>
	<div>
		<a href="{{ url_for('newMovie') }}">Create a new movie</a>
		<div>
			<p>
				<img src="" alt="Movie Poster Unavailable">
				<br>
				name
				<br>
				plot
				<br>
				release date
				<br>
				runtime
				<br>
				<a href="{{ url_for('editMovie') }}">Edit Movie</a>
				<br>
				<a href="{{ url_for('deleteMovie') }}">Delete Movie</a></p>
			</p>
		</div>	
	</div>
{% endblock %}