{% extends "main.html" %}
{% block title %}Add Movie{% endblock %}
{% block body %}
	<h1>New Movie From "Producer Name Here"</h1>
	<div>
		<form action="{{ url_for('newMovie') }}" method="POST">
			Poster URL: <br><input type="text" name="poster_url" size="80"><br>
			Name:	<br><input type="text" name="name"><br>
			Short Plot:	<br><textarea name="plot" rows="5" cols="60" maxlength="300"></textarea><br>
			Release date:	<br><input type="date" name="released"><br>
			runtime:	<br><input type="text" size="4" name="runtime" maxlength="4">
			<button disabled>min</button><br>
			<input type="submit" value="Create">
		</form>
		<a href="{{ url_for('showMovies') }}">Cancel</a>
	</div>
{% endblock %}