{% extends "main.html" %}
{% block title %}Add Producer{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-md-8 col-md-offset-2 text-center"><h1>New Producer</h1></div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<p>Name:</p>
			<form action="{{ url_for('newProducer') }}" method="POST">
				<input type="text" name="name">
				<input type="submit" value="Create">
			</form>
			<a href="{{ url_for('showProducers') }}">Cancel</a>
		</div>
	</div>
{% endblock %}